<header>
  <div class="divide-y divide-gray-200 overflow-hidden shadow">
    <div class="px-4 py-5 sm:px-6 flex items-center justify-between">
      <%= render 'components/company_logo' %>
      <a href="/#" class="-ml-px inline-flex items-center bg-[#6C748B] px-3 py-2 text-sm font-medium tracking-wide text-gray-50 rounded hover:bg-chica00">
        Leave A Review
      </a>
    </div>
    <div class="px-2 py-5 sm:px-10">
      <span class="isolate inline-flex gap-4 rounded-md">
        <a href="/" class="-ml-px inline-flex items-center px-3 py-2 text-sm text-gray-900 rounded hover:bg-comet-100">Home</a>
        <a href="/#" class="-ml-px inline-flex items-center px-3 py-2 text-sm text-gray-900 rounded hover:bg-comet-100">About</a>
        <a href="/services" class="-ml-px inline-flex items-center px-3 py-2 text-sm text-gray-900 rounded hover:bg-comet-100">Services</a>
        <a href="/#" class="-ml-px inline-flex items-center px-3 py-2 text-sm text-gray-900 rounded hover:bg-comet-100">Resume Tips</a>
        <a href="/#" class="-ml-px inline-flex items-center px-3 py-2 text-sm text-gray-900 rounded hover:bg-comet-100">Contact </a>
      </span>
    </div>
  </div>
</header>
