s<section class="pt-36 sm:pt-60 lg:px-8 lg:pt-32">
  <div class="mx-auto max-w-7xl px-6">
    <div class="max-w-2xl">
      <span class="flex flex-col-reverse gap-4">
        <h1 class="text-4xl font-extrabold tracking-tight text-stone-900">Resume packages, designed for job seekers at
          every stage.</h1>
        <p class="text-vanilla-600 font-semibold tracking-wide">Packages</p>
      </span>
      <p class="mt-4 text-stone-600 lead">Our enhanced ATS-friendly resume templates are designed for optimal
        readability, ensuring your application stands out. Crafted with both applicant tracking systems and hiring
        managers in mind, these templates increase your chances of landing the job.</p>
    </div>
    <!-- End of resume packages -->
    <div class="grid grid-cols-1 gap-6 xl:grid-cols-3 mt-14">
      <div class="w-full ring-1 ring-stone-200 rounded-3xl p-8 space-y-4">
        <h2 class="text-lg font-semibold leading-6 text-stone-900 group-hover:text-stone-600">Basic Pack.</h2>
        <ul class="list-disc list-outside space-y-2 lead marker:text-vanilla-700 ml-4">
          <li>Customized Resume: Receive a resume tailored to your career goals.</li>
          <li>Keyword Optimization: We'll incorporate industry-specific keywords.</li>
          <li>Professional Formatting: Your resume will be formatted for easy readability.</li>
          <li>Two Rounds of Revisions: We offer two rounds of revisions.</li>
          <li>Two Rounds of Revisions: We offer two rounds of revisions.</li>
        </ul>
        <div class="flex flex-col items-start gap-4">
          <div aria-label="price" class="inline-flex flex-row-reverse items-start gap-1">
            <p class="text-xs font-sans uppercase">(CAD)</p>
            <p class="text-lg font-sans">$25.31</p>
          </div>
          <div aria-label="purchase"
            class="w-full text-start lg:text-center rounded-md bg-vanilla-100 px-2.5 py-1.5 text-sm font-semibold text-vanilla-600 shadow-sm hover:bg-vanilla-100">
            <p>Pay Now</p>
          </div>
        </div>
      </div>
      <div class="w-full ring-2 ring-vanilla-500 rounded-3xl p-8 space-y-4">
        <h2 class="text-lg font-semibold leading-6 text-stone-900 group-hover:text-stone-600">Modist Pack.</h2>
        <ul class="marker:text-vanilla-700 list-disc list-outside space-y-2 lead ml-4">
          <li>Customized Resume: Receive a resume tailored to your career goals.</li>
          <li>Keyword Optimization: We'll incorporate industry-specific keywords.</li>
          <li>Professional Formatting: Your resume will be formatted for easy readability.</li>
          <li>Two Rounds of Revisions: We offer two rounds of revisions.</li>
          <li>Two Rounds of Revisions: We offer two rounds of revisions.</li>
        </ul>
        <div class="flex flex-col items-start  gap-4">
          <div aria-label="price" class="inline-flex flex-row-reverse items-start gap-1">
            <p class="text-xs font-sans uppercase">(CAD)</p>
            <p class="text-lg font-sans">$43.75</p>
          </div>
          <div aria-label="purchase"
            class="w-full text-start lg:text-center rounded-md bg-vanilla-600 px-2.5 py-1.5 text-sm font-medium text-vanilla-50 shadow-sm hover:bg-vanilla-100">
            <p>Pay Now</p>
          </div>
        </div>

      </div>
      <div class="w-full ring-1 ring-stone-200 rounded-3xl p-8 space-y-4">
        <h2 class="text-lg font-semibold leading-6 text-stone-900 group-hover:text-stone-600">Legendary Pack.</h2>
        <ul class="marker:text-vanilla-700 list-disc list-outside space-y-2 lead ml-4">
          <li>Customized Resume: Receive a resume tailored to your career goals.</li>
          <li>Keyword Optimization: We'll incorporate industry-specific keywords by ATS.</li>
          <li>Professional Formatting: Your resume will be formatted for easy readability.</li>
          <li>Two Rounds of Revisions: We offer two rounds of revisions.</li>
          <li>Two Rounds of Revisions: We offer two rounds of revisions.</li>
        </ul>
        <div class="flex flex-col items-start gap-4">
          <div aria-label="price" class="inline-flex flex-row-reverse items-start gap-1">
            <p class="text-xs font-sans uppercase">(CAD)</p>
            <p class="text-lg font-sans">$64.85</p>
          </div>
          <div aria-label="purchase"
            class="w-full text-start lg:text-center rounded-md bg-vanilla-100 px-2.5 py-1.5 text-sm font-semibold text-vanilla-600 shadow-sm hover:bg-vanilla-100">
            <p>Pay Now</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="mt-16">
  <div class="mx-auto max-w-7xl px-12 py-16">
    <div class="max-w-2xl">
      <span class="flex flex-col-reverse gap-4">
        <h2 class="text-4xl font-extrabold tracking-tight text-stone-900">Personalized Resume Services to Help You
          unlock your job hunting potential.</h2>
        <p>Create Your Own Package</p>
      </span>
      <p class="mt-4 text-stone-600 lead">Our enhanced ATS-friendly resume templates are designed for optimal
        readability, ensuring your application stands out. Crafted with both applicant tracking systems and hiring
        managers in mind, these templates increase your chances of landing the job.</p>
    </div>
  </div>
</section>
<section class="">
  <div class="mx-auto max-w-7xl px-12 py-16">
    <div class="max-w-2xl">
      <span class="flex flex-col-reverse gap-4">
        <h3 class="text-4xl font-extrabold tracking-tight text-stone-900">Explore Awesome Community-Based Templates —
          Feel Free to Tip!</h3>
        <p>Resume Templates</p>
      </span>
      <p class="mt-4 text-stone-600 lead">Our enhanced ATS-friendly resume templates are designed for optimal
        readability, ensuring your application stands out. Crafted with both applicant tracking systems and hiring
        managers in mind, these templates increase your chances of landing the job.</p>
    </div>
  </div>
</section>
<section class="bg-gradient-to-tr from-vanilla-700 to-vanilla-400">
  <div class="mx-auto max-w-7xl px-12 py-16">
    <div class="max-w-2xl">
      <span class="flex flex-col-reverse gap-4 text-sky-50">
        <h4 class="text-4xl font-extrabold tracking-tight ">Sign Up for Our Newsletter for Resume
          Maintenance, and Best Practeces.</h4>
        <p>Tips & Tricks</p>
      </span>
      <p class="mt-4 text-sky-100 lead">Our enhanced ATS-friendly resume templates are designed for optimal
        readability, ensuring your application stands out. Crafted with both applicant tracking systems and hiring
        managers in mind, these templates increase your chances of landing the job.</p>
    </div>
  </div>
</section>