<section class="px-4 py-5 sm:px-6">
  <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
    <div class="w-full ring-2 ring-gray-300 ring-inset rounded px-4 py-5 sm:p-6 space-y-4">
      <h2 class="scroll-m-20 text-2xl font-semibold tracking-tight">Basic Pack.</h2>
      <ul class="list-disc list-outside space-y-2 tracking-wide pl-4">
        <li>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</li>
        <li>Keyword Optimization: We'll incorporate industry-specific keywords to ensure your resume gets noticed.</li>
        <li>Professional Formatting: Your resume will be formatted professionally, making it visually appealing and easy to read.</li>
        <li>Two Rounds of Revisions: We offer two rounds of revisions to fine-tune your resume until it meets your satisfaction.</li>
      </ul>
      <div class="flex justify-between items-center">
        <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
          <p class="text-xs font-sans uppercase">(CAD)</p>
          <p class="text-lg font-sans">$25.31</p>
        </div>
        <div
          aria-label="purchase"
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
        >
          <p>Pay Now</p>
        </div>
    </div>
    </div>
    <div class="w-full ring-2 ring-gray-300 ring-inset rounded px-4 py-5 sm:p-6 space-y-4">
      <h2 class="text-2xl font-bold">Modist Pack.</h2>
      <ul class="list-disc list-outside space-y-2 tracking-wide pl-4">
        <li>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</li>
        <li>Keyword Optimization: We'll incorporate industry-specific keywords to ensure your resume gets noticed by ATS.</li>
        <li>Professional Formatting: Your resume will be formatted professionally, making it visually appealing and easy to read.</li>
        <li>Two Rounds of Revisions: We offer two rounds of revisions to fine-tune your resume until it meets your satisfaction.</li>
      </ul>
      <div class="flex justify-between items-center">
        <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
          <p class="text-xs font-sans uppercase">(CAD)</p>
          <p class="text-lg font-sans">$43.75</p>
        </div>
        <div
          aria-label="purchase"
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-800 text-chicago-50 hover:bg-chicago-800/90 h-9 px-3"
        >
          <p>Pay Now</p>
        </div>
      </div>

    </div>
    <div class="w-full ring-2 ring-gray-300 ring-inset rounded px-4 py-5 sm:p-6 space-y-4">
      <h2 class="text-2xl font-bold">Legendary Pack.</h2>
      <ul class="list-disc list-outside space-y-2 tracking-wide pl-4">
        <li>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</li>
        <li>Keyword Optimization: We'll incorporate industry-specific keywords to ensure your resume gets noticed by ATS.</li>
        <li>Professional Formatting: Your resume will be formatted professionally, making it visually appealing and easy to read.</li>
        <li>Two Rounds of Revisions: We offer two rounds of revisions to fine-tune your resume until it meets your satisfaction.</li>
      </ul>
      <div class="flex justify-between items-center">
        <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
          <p class="text-xs font-sans uppercase">(CAD)</p>
          <p class="text-lg font-sans">$64.85</p>
        </div>
        <div
          aria-label="purchase"
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
        >
          <p>Pay Now</p>
        </div>
      </div>

    </div>
  </div>
</section>