<section class="max-w-[120ch] mx-auto pt-36 sm:pt-60 lg:pt-32">
  <h1 class="max-w-4xl text-3xl font-extrabold text-slate-900 sm:text-4xl">Crafted Resumes Lead the Way!</h1>
  <p class="mt-2 max-w-3xl text-lg leading-8 text-gray-600">Tired of sending out countless resumes without hearing back? Our resume writing service is here to elevate your job search to new heights.</p>
</section>
<section class="px-4 py-5 sm:px-6">
  <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 max-w-[120ch] mx-auto">
    <div class="w-full ring-2 ring-gray-300 ring-inset rounded px-4 py-5 sm:p-6 space-y-4">
      <h2 class="scroll-m-20 text-2xl font-semibold tracking-tight">Basic Pack.</h2>
      <ul class="list-disc list-outside space-y-2 tracking-wide pl-4">
        <li>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</li>
        <li>Keyword Optimization: We'll incorporate industry-specific keywords to ensure your resume gets noticed.</li>
        <li>Professional Formatting: Your resume will be formatted professionally, making it visually appealing and easy to read.</li>
        <li>Two Rounds of Revisions: We offer two rounds of revisions to fine-tune your resume until it meets your satisfaction.</li>
      </ul>
      <div class="flex justify-between items-center">
        <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
          <p class="text-xs font-sans uppercase">(CAD)</p>
          <p class="text-lg font-sans">$25.31</p>
        </div>
        <div
          aria-label="purchase"
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
        >
          <p>Pay Now</p>
        </div>
    </div>
    </div>
    <div class="w-full ring-2 ring-gray-300 ring-inset rounded px-4 py-5 sm:p-6 space-y-4">
      <h2 class="text-2xl font-bold">Modist Pack.</h2>
      <ul class="list-disc list-outside space-y-2 tracking-wide pl-4">
        <li>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</li>
        <li>Keyword Optimization: We'll incorporate industry-specific keywords to ensure your resume gets noticed by ATS.</li>
        <li>Professional Formatting: Your resume will be formatted professionally, making it visually appealing and easy to read.</li>
        <li>Two Rounds of Revisions: We offer two rounds of revisions to fine-tune your resume until it meets your satisfaction.</li>
      </ul>
      <div class="flex justify-between items-center">
        <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
          <p class="text-xs font-sans uppercase">(CAD)</p>
          <p class="text-lg font-sans">$43.75</p>
        </div>
        <div
          aria-label="purchase"
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-800 text-chicago-50 hover:bg-chicago-800/90 h-9 px-3"
        >
          <p>Pay Now</p>
        </div>
      </div>

    </div>
    <div class="w-full ring-2 ring-gray-300 ring-inset rounded px-4 py-5 sm:p-6 space-y-4">
      <h2 class="text-2xl font-bold">Legendary Pack.</h2>
      <ul class="list-disc list-outside space-y-2 tracking-wide pl-4">
        <li>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</li>
        <li>Keyword Optimization: We'll incorporate industry-specific keywords to ensure your resume gets noticed by ATS.</li>
        <li>Professional Formatting: Your resume will be formatted professionally, making it visually appealing and easy to read.</li>
        <li>Two Rounds of Revisions: We offer two rounds of revisions to fine-tune your resume until it meets your satisfaction.</li>
      </ul>
      <div class="flex justify-between items-center">
        <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
          <p class="text-xs font-sans uppercase">(CAD)</p>
          <p class="text-lg font-sans">$64.85</p>
        </div>
        <div
          aria-label="purchase"
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
        >
          <p>Pay Now</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End of resume packages -->
<section>
  <div class=" max-w-[120ch] mx-auto pt-36 sm:pt-60 lg:pt-32">    
    <h2 class="max-w-4xl text-3xl font-extrabold text-slate-900 sm:text-4xl">Individual Services</h2>
    <p class="mt-2 max-w-3xl text-lg leading-8 text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat.</p>
  <div class=""></div>
  </div>
</section>
<!-- End of individual services -->

<section>
  <div class=" max-w-[120ch] mx-auto pt-36 sm:pt-60 lg:pt-32">    
    <h2 class="max-w-4xl text-3xl font-extrabold text-slate-900 sm:text-4xl">Individual Services</h2>
    <p class="mt-2 max-w-3xl text-lg leading-8 text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat.</p>
  <div class=""></div>
  </div>
</section>