<section class="bg-gray-50/10">
  <div class="container mx-auto px-4 py-5 sm:p-6 flex items-center min-h-[90svh]">
    <div class="grid grid-cols-1 gap-6 items-center lg:grid-cols-3">
      <div class="w-full overflow-hidden rounded-lg ring-1 ring-comet-600 bg-comet-50/10">
        <div class="px-4 py-5 sm:p-6 space-y-4">
          <!-- Content goes here -->
          <h2 class="text-2xl font-bold font-grotesk">Basic Pack.</h2>
          <ul class="list-disc list-inside space-y-2 tracking-wide">
            <li>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</li>
            <li>Keyword Optimization: We'll incorporate industry-specific keywords to ensure your resume gets noticed by ATS.</li>
            <li>Professional Formatting: Your resume will be formatted professionally, making it visually appealing and easy to read.</li>
            <li>Two Rounds of Revisions: We offer two rounds of revisions to fine-tune your resume until it meets your satisfaction.</li>
          </ul>
          <div class="flex justify-between items-center">
            <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
              <p class="text-xs font-sans uppercase">(CAD)</p>
              <p class="text-lg font-sans">$25.31</p>
            </div>
            <div
              aria-label="purchase"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
            >
              <p>Pay Now</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Good Package -->
      <div class="w-full overflow-hidden rounded-lg ring-1 ring-comet-600 bg-comet-50/10">
        <div class="px-4 py-5 sm:p-6 space-y-4">
          <!-- Content goes here -->
          <h2 class="text-2xl font-bold font-grotesk">Modist Pack.</h2>
          <ul class="list-disc list-inside space-y-2 tracking-wide">
            <li>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</li>
            <li>Keyword Optimization: We'll incorporate industry-specific keywords to ensure your resume gets noticed by ATS.</li>
            <li>Professional Formatting: Your resume will be formatted professionally, making it visually appealing and easy to read.</li>
            <li>Two Rounds of Revisions: We offer two rounds of revisions to fine-tune your resume until it meets your satisfaction.</li>
          </ul>
          <div class="flex justify-between items-center">
            <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
              <p class="text-xs font-sans uppercase">(CAD)</p>
              <p class="text-lg font-sans">$43.75</p>
            </div>
            <div
              aria-label="purchase"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-800 text-chicago-50 hover:bg-chicago-800/90 h-9 px-3"
            >
              <p>Pay Now</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Better Package -->
      <div class="w-full overflow-hidden rounded-lg ring-1 ring-comet-600 bg-comet-50/10">
        <div class="px-4 py-5 sm:p-6 space-y-4">
          <!-- Content goes here -->
          <h2 class="text-2xl font-bold font-grotesk">Legendary Pack.</h2>
          <ul class="list-disc list-inside space-y-2 tracking-wide">
            <li>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</li>
            <li>Keyword Optimization: We'll incorporate industry-specific keywords to ensure your resume gets noticed by ATS.</li>
            <li>Professional Formatting: Your resume will be formatted professionally, making it visually appealing and easy to read.</li>
            <li>Two Rounds of Revisions: We offer two rounds of revisions to fine-tune your resume until it meets your satisfaction.</li>
          </ul>
          <div class="flex justify-between items-center">
            <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
              <p class="text-xs font-sans uppercase">(CAD)</p>
              <p class="text-lg font-sans">$64.85</p>
            </div>
            <div
              aria-label="purchase"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
            >
              <p>Pay Now</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Best Package -->
    </div>
  </div>
</section>

<section class="bg-gray-100">
  <div class="container mx-auto px-4 py-5 sm:p-6 flex items-center min-h-[90svh]">
    <div class="grid grid-cols-1 gap-6 items-center lg:grid-cols-3">
      <div class="overflow-hidden rounded-lg ring-1 ring-comet-600 bg-comet-50/10">
        <div class="px-4 py-5 sm:p-6 space-y-4">
          <!-- Content goes here -->
          <h2 class="text-xl font-bold font-grotesk">Customized Resume.</h2>
          <p>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</p>
          <div class="flex justify-between items-center">
            <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
              <p class="text-xs font-sans uppercase">(CAD)</p>
              <p class="text-lg font-sans">$25.31</p>
            </div>
            <div
              aria-label="purchase"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
            >
              <p>Pay Now</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Service #1 -->
      <div class="overflow-hidden rounded-lg ring-1 ring-comet-600 bg-comet-50/10">
        <div class="px-4 py-5 sm:p-6 space-y-4">
          <!-- Content goes here -->
          <h2 class="text-xl font-bold font-grotesk">ATS Friendly Resume.</h2>
          <p>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</p>
          <div class="flex justify-between items-center">
            <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
              <p class="text-xs font-sans uppercase">(CAD)</p>
              <p class="text-lg font-sans">$25.31</p>
            </div>
            <div
              aria-label="purchase"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
            >
              <p>Pay Now</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Service #1 -->
      <div class="overflow-hidden rounded-lg ring-1 ring-comet-600 bg-comet-50/10">
        <div class="px-4 py-5 sm:p-6 space-y-4">
          <!-- Content goes here -->
          <h2 class="text-xl font-bold font-grotesk">Content Editing.</h2>
          <p>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</p>
          <div class="flex justify-between items-center">
            <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
              <p class="text-xs font-sans uppercase">(CAD)</p>
              <p class="text-lg font-sans">$25.31</p>
            </div>
            <div
              aria-label="purchase"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
            >
              <p>Pay Now</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Service #1 -->
      <div class="overflow-hidden rounded-lg ring-1 ring-comet-600 bg-comet-50/10">
        <div class="px-4 py-5 sm:p-6 space-y-4">
          <!-- Content goes here -->
          <h2 class="text-xl font-bold font-grotesk">Master Copy.</h2>
          <p>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</p>
          <div class="flex justify-between items-center">
            <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
              <p class="text-xs font-sans uppercase">(CAD)</p>
              <p class="text-lg font-sans">$25.31</p>
            </div>
            <div
              aria-label="purchase"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
            >
              <p>Pay Now</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Service #1 -->
      <div class="overflow-hidden rounded-lg ring-1 ring-comet-600 bg-comet-50/10">
        <div class="px-4 py-5 sm:p-6 space-y-4">
          <!-- Content goes here -->
          <h2 class="text-xl font-bold font-grotesk">Professional Editing.</h2>
          <p>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</p>
          <div class="flex justify-between items-center">
            <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
              <p class="text-xs font-sans uppercase">(CAD)</p>
              <p class="text-lg font-sans">$25.31</p>
            </div>
            <div
              aria-label="purchase"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
            >
              <p>Pay Now</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Service #1 -->
      <div class="overflow-hidden rounded-lg ring-1 ring-comet-600 bg-comet-50/10">
        <div class="px-4 py-5 sm:p-6 space-y-4">
          <!-- Content goes here -->
          <h2 class="text-xl font-bold font-grotesk">Keyword Optimization.</h2>
          <p>Customized Resume: Receive a personalized resume tailored to your career goals and industry.</p>
          <div class="flex justify-between items-center">
            <div aria-label="price" class="flex flex-row-reverse items-start gap-1">
              <p class="text-xs font-sans uppercase">(CAD)</p>
              <p class="text-lg font-sans">$25.31</p>
            </div>
            <div
              aria-label="purchase"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-chicago-500 text-chicago-50 hover:bg-chicago-800 hover:cursor-pointer h-9 px-3"
            >
              <p>Pay Now</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Service #1 -->
    </div>
  </div>
</section>
